.service {
  /* outline: 2px dotted blueviolet; */
  padding: 40px 0;
  @media (min-width: 768px) {
    padding: 68px 0;
  }
  &__title {
    color: getColor("title");
    font-size: 40px;
    font-variant: all-small-caps;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 65px;
    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 4px;
      background-color: getColor("hover");
      margin: 0 auto;
      margin-top: 40px;
    }
    @media (min-width: 768px) {
      font-size: 30px;
    }
  }
  &__info {
    margin-bottom: 20px;
    color: #333;

    font-family: "Kaushan Script", cursive;
    font-size: 30px;
    font-weight: 400;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 24px;
    }
  }
}
.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px 10px;
  @media (min-width: 768px) {
    column-gap: 70px;
  }
  &__item {
    flex: 1 1 calc((100% - 10px) / 2);
    display: flex;
    gap: 10px;
    @media (max-width:550px){
      flex-basis: 100%;
    }

    @media (min-width: 768px) {
      flex-basis: calc((100% - 140px) / 3);
    }
  }
  &__svg {
    fill: #95e1d3;
  }
  &__title {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    font-variant: small-caps;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      font-size: 14px;
    }
  }
  &__text {
    color: getColor("text");
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.47; /* 146.667% */

    @media (min-width: 768px) {
      font-size: 14px;
    }
  }
}
